body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kanbas .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

#wd-dashboard-courses {
    margin-top: 30px;
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

.w-signin {
    border-left: 3px solid black !important;
}

.table-label {
    padding-right: 15px; 
    vertical-align: top; 
}

.custom-select {
    width: 100%; 
    height: 40px;
    padding: 1px; 
    border-radius: 5px; 
    border: 1px solid #b4b3b3;
}

.custom-spacing {
    margin-bottom: 20px; 
}



.custom-date-input {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9;
    color: #333; 
  }

  .wd-quiz {
    color: black;
    background-color: white;
    border-left: 3px solid green !important;              
  }
  .dark-checkmark {
    color: #006400; 
  }